@import url("https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Noto+Serif+Oriya:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


/* banners styles */
.banner-img{
  width: 100% !important;
  height: 200px;
}

/* carousel-img styles */
.carousel-item>.carousel-img{
  width: 100%;
  height: 40vh;
}




/* newsletter section  start */
.news-letter{
  background-image: url('./asserts/c1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* newsletter section  end */

/* tours section */
.tours-img{
  width: 100%;
  height: 250px;
}

.rating-section>p,span{
  font-size: .8rem !important;
  color:rgba(18, 15, 11, 0.728);
}
.tours-des{
  font-size: .67rem !important;
}


@media screen and (max-width:576px) {
  .carousel-item>.carousel-img{
    width: 100%;
    height: 30vh;
  }
  
}